{% extends 'base.html' %}
{% block title %}Nuevo{% endblock title %}

{% block content %}

{% if user.is_authenticated%}

<h1>Nuevo</h1>
<br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button class="btn btn-secondary">Crear</button>
    </form>
</div>

{% comment %} Tiene que ir abajo del FORM Group o del POST, arriba no funcionaba. Al final del FORM {% endcomment %}
<script>
    var name = "{{user.id}}";
    document.getElementById("authorz").value = name;
</script>

{% else %}
    <h2>No estas registrado</h2>
{% endif %}
{% endblock %}