{% extends 'base.html' %}
{% block title %}Detalle{% endblock title %}

{% block content %}

<h1>{{post.title}}</h1>
<small>De: {{post.author.first_name}} {{post.author.last_name}}</small>
{{ post.author.last_name}}
{% if user.is_authenticated%}
    - <a href="{% url 'update_post' post.pk %}"> Edit</a>
    <a href="{% url 'delete_post' post.pk %}"> Borrar</a>
{% endif %}
<br>
<hr>
<br> 

<img src="{{post.header_image.url}}">

{{post.body|safe}}

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Regresar</a>

{% endblock %}